[submodule "forticlient-tailscaled"]
	path = forticlient-tailscaled
	url = https://github.com/CoriscoDev/forticlient-tailscaled.git
	branch = dev
[submodule "portainer_tailscaled"]
	path = portainer-tailscaled
	url = https://github.com/G3Labz/portainer-tailscaled.git